@charset "utf-8";
html,
body {
  overflow: visible;
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "Meiryo", "メイリオ", sans-serif;
  font-size: 17px;
  color: #444;
  background-color: #fefefe;
  font-weight: lighter;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: lighter;
}
h1 {
  font-size: 36px;
}
h1,
h2 {
  margin: 25px auto 0 auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -o-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  -ms-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
  -o-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) rgba(0,0,0,0.3);
  box-shadow: 0px 1px 0px rgba(255,255,255,0.3) rgba(0,0,0,0.3);
}
h3,
h4,
h5 {
  margin: 15px auto 0 auto;
}
ul {
  padding: 0;
  margin: 20px auto 0 15px;
}
li ul {
  margin: 5px auto 0 15px;
}
li {
  margin: 5px auto;
}
a {
  color: #009fc7;
}
a:hover {
  color: #427daf;
  text-decoration: none;
}
a:visited {
  color: #be4a94;
}
input[type="text"] {
  -o-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -ms-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  border-style: none;
}
input[type="submit"] {
  -o-border-radius: 3;
  -ms-border-radius: 3;
  -moz-border-radius: 3;
  -webkit-border-radius: 3;
  border-radius: 3;
  -o-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -ms-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  box-shadow: 0.1px 0.15px 1px 0.5px rgba(0,0,0,0.3);
  display: inline-block;
  color: #fefefe;
  padding: 6px 10px 2px 10px;
  background-color: #27b9d4;
  font-weight: normal;
  letter-spacing: 0.09em;
  border-style: none;
  text-shadow: 1px 1px 0px #6682ca;
}
p.topless {
  padding: 0 auto;
  margin: 0 auto;
}
header {
  background-color: rgba(245,245,245,0.7);
  position: fixed;
  z-index: 10;
  top: 0%;
  margin: 3px auto 30px 5px;
  width: 100%;
}
header .relative {
  padding-right: 50px;
}
header ul {
  padding: 0;
  margin: 0;
}
header li {
  display: inline;
}
.breadcrumb li {
  display: inline-block;
  list-style: none;
}
.pre {
  font-size: 15px;
  background-color: #fdf6e3;
}
.documentwrapper {
  overflow: visible;
  background-color: #fefefe;
  height: 100%;
  margin: 0 auto;
}
.document {
  background-color: #fefefe;
  margin: 0 auto 0 260px;
  padding-top: 40px;
  padding-bottom: 100px;
  width: 700px;
}
.sidebarwrapper {
  position: fixed;
  z-index: 1;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding-top: 50px;
  width: 260px;
  min-width: 260px;
  height: 100%;
  -o-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3);
  -ms-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3);
  -o-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3) rgba(0,0,0,0.3);
  -ms-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3) rgba(0,0,0,0.3);
  -moz-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3) rgba(0,0,0,0.3);
  -webkit-box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3) rgba(0,0,0,0.3);
  box-shadow: 0.4px 1px 1px rgba(0,0,0,0.3) rgba(0,0,0,0.3);
}
.sidebar {
  margin: 0 auto 0 10px;
  height: 100%;
  font-size: 95%;
}
.sidebar .relative {
  margin: 60px auto;
}
nav.localtoc ul {
  margin-left: 0;
}
nav.localtoc li {
  padding-left: 0;
  list-style: none;
}
nav.localtoc li ul {
  margin-left: 15px;
}
nav.localtoc li ul li {
  list-style: square;
}
#searchbox {
  margin: 50px auto;
}
.bodywrapper {
  width: 90%;
  margin: 0 auto;
}
.headerlink {
  text-decoration: none;
  margin-left: 10px;
  color: #444;
}
footer {
  background-color: rgba(245,245,245,0.7);
  width: 100%;
  z-index: 10;
  margin: 10px auto 0px auto;
  padding-left: 20px;
  position: fixed;
  bottom: 0%;
}
footer p {
  display: inline-block;
}
footer li {
  display: inline-block;
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearer {
  clear: both;
}
