@charset "utf-8";
@media screen and (max-width: 320px){[class^="icon-"]:before,[class*=" icon-"]:before{font-size:1.9em;font-size:1.9rem}
img{margin:auto;max-width:280px;height:auto;image-rendering:optimizeSpeed;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges}
header .right{margin-right:0}
header .left{margin-left:0}
.breadcrumb{max-width:250px;}
.breadcrumb li{max-width:90px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.sidebarwrapper{float:none;width:90%;text-align:center;}
.sidebarwrapper .localtoc{text-align:left}
.sidebarwrapper .relative{display:none}
.sidebar{margin-top:60px}
#raise-top{width:35px;height:35px;line-height:35px;bottom:10px;}
#raise-top:before{font-size:2.8em;font-size:2.8rem}
}