@charset "utf-8"
@import "reset"

header-background()
  background-color: #F1F1F1

header-position()
  position: fixed
  z-index: 10
  top: 0%
  margin: auto
  width: 100%
  height: main-font-size + 20px

footer-background()
  background-color: rgba(245, 245, 245, 0.7)

footer-position()
  position: absolute
  clear: both
  bottom: 0
  width: 100%
  margin: auto

line-bottom(op1=.2, op2=.3)
  border-bottom: 1px solid rgba(0, 0, 0, op1);
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -ms-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)

border-radius(n)
  -o-border-radius: n
  -ms-border-radius: n
  -moz-border-radius: n
  -webkit-border-radius: n
  border-radius: n

box-shadow(w_offset, h_offset, blur, len, color=rgba(0,0,0,0.3))
  -o-box-shadow: w_offset h_offset blur len color
  -ms-box-shadow: w_offset h_offset blur len color
  -moz-box-shadow: w_offset h_offset blur len color
  -webkit-box-shadow: w_offset h_offset blur len color
  box-shadow: w_offset h_offset blur len color

directive-font-style(color=#FEFEFE, shadow-color=#989DD6)
  font-weight: normal
  letter-spacing: 0.09em
  font-size: main-font-size + 1px
  border-style: none
  color: color
  text-shadow: 1px 1px 0px shadow-color


full-width = 980px
sidebar-width = 260px
article-width = 90%
footer-height = 80px
main-font-size = 17px
padding-from-header = 60px

base-white = #FEFEFE
black =      #002b36
light-yellow = #fdf6e3
yellow =     #C4B400
orange =     #F54E00
red =        #dc322f
magenta =    #d33682
violet =     #A01CB3 //#6c71c4
light-blue = #009FC7
blue =       #268bd2
cyan =       #2aa198
green =      #859900


html, body
  font-family: "游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","ＭＳ ゴシック","Meiryo","メイリオ",sans-serif
  font-size: main-font-size
  color: black
  background-color: base-white
  font-weight: lighter
  height: 100%

div.content
  width: 100%
  height: auto
  min-height: 100%
  position: relative
  margin: 0 auto


h1, h2, h3, h4, h5
  font-weight: lighter

h1
  font-size: 35px

h1, h2
  margin: 25px auto 10px auto
  line-bottom()

h3, h4, h5
  margin: 15px auto 8px auto
  line-bottom(.1, .2)

ul
  padding: 0
  margin: 20px auto 0 15px

li ul
  margin: 5px auto 0 15px

li
  margin: 5px auto
  dl
    dt
      // リストのタイトル部分
    dd  // リストのぶら下がり部分
      margin: 0

a
  color: #009FC7
  text-decoration: none
  &:hover
    color: #427daf
    text-decoration: underline
  &:visited
    color: #BE4A94


input[type="text"]
  box-shadow(0.1px, 0.15px, 1px, .5px)
  border-style: none

input[type="submit"]
  border-radius(3)
  box-shadow(.1px, .15px, 2px, .1px)

  display: inline-block
  color: base-white
  padding: 6px 10px 2px 10px
  background-color: #27B9D4
  font-weight: normal
  letter-spacing: 0.09em
  border-style: none
  text-shadow: 1px 1px 0px #6682CA


p.topless
  padding: 0 auto
  margin: 0 auto

header
  header-background()
  header-position()
  .right
    margin-right: 20px
  .left
    margin-left: 20px
  ul
    padding: 0
    margin: auto
  li
    display: inline-block
    vertical-align: middle

.breadcrumb
  li
    display: inline-block
    list-style: none

.pre
  font-size: (main-font-size - 1px)
  background-color: light-yellow

.documentwrapper
  background-color: base-white
  width: full-width
  //width: 100%
  height: auto
  min-height: 100%
  margin: 0 auto


.document
  overflow: hidden
  background-color: base-white
  margin: 0 0 0 auto
  padding-top: padding-from-header
  padding-bottom: footer-height + 20px
  width: full-width - sidebar-width


.sidebarwrapper
  float: left
  //background-color: #F5F5F5
  margin: 0 auto
  padding-top: padding-from-header
  width: sidebar-width
  min-width: sidebar-width
  height: 100%


.sidebar
  margin: 0 auto 0 0  // 一番左に
  width: 90%
  font-size: 90%
  .relative
    margin: 60px auto
  .topless
    width: inherit
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

nav.localtoc
  ul
    margin-left: 0
  li
    padding-left: 0
    list-style: none
    ul
      margin-left: 15px
      li
        list-style: square

#searchbox
  margin: 50px auto


.body
  width: article-width
  margin: 0 0 0 auto


.headerlink
  text-decoration: none
  margin-left: 10px
  color: #32A1BD
  font-size: 75%
  &:visited
    color: #32A1BD


footer
  footer-background()
  footer-position()
  height: footer-height
  p
    display: inline-block
    margin: auto
    padding-left: 15px
    line-height: footer-height
  li
    display: inline-block
    list-style: none

// TipとかNoteとかのベースになるやつ
.admonition
  margin: 30px auto
  padding-bottom: 5px
  box-shadow(0.1px, 0.15px, 1px, .5px)
  background-color: #F7F7F7
  p, ul
    padding-left: 20px

.admonition-title
  line-bottom()
  padding-left: 15px
  directive-font-style()
  background-color: light-blue  // default color

.attention
  .admonition-title
    background-color: orange

.caution
  .admonition-title
    background-color: violet

.danger
  .admonition-title
    background-color: red

.error
  .admonition-title
    background-color: red

.hint
  .admonition-title
    background-color: yellow

.important
  .admonition-title
    background-color: magenta

.note
  .admonition-title
    background-color: light-blue

.tip
  .admonition-title
    background-color: cyan

.warning
  .admonition-title
    background-color: red


.left
  float: left

.right
  float: right

.clearer
  clear: both


th, td
  border: 0px solid rgba(243, 243, 243, 0.15)

table
  margin: 20px 0
  border: 0px solid rgba(243, 243, 243, 0.15)
  border-right-color: rgba(189, 236, 255, 0.4)
  //border-bottom: 0px solid rgba(243, 243, 243, 0.15)
  //border-collapse: separate
  border-spacing: 1px
  box-shadow(.1px, 0.15px, 0px, 0px)
  caption
    text-align: center
    font-size: main-font-size + 1px
    line-height: main-font-size + 20px
  thead
    color: #FFFFFF
    letter-spacing: 0.25em
    text-shadow: .5px .9px 0px rgba(45, 134, 204, 1)
    .row-odd
      background-color: #52B5CE
    th
      border: 2px solid rgba(243, 243, 243, 0.2)
      text-align: center
      font-weight: normal
      font-size: main-font-size + 1px
  tbody
    //box-shadow(0.1px, 0.15px, 1px, .5px)
  tr
    height: main-font-size + 25px
  td
    box-shadow(0.1px, 0.15px, 1px, 0px)
    padding: 0 5px
  .row-even
    background-color: #F7F7F7
  .row-odd
    background-color: base-white
