@import "colors"

plain-font()
  font-style: normal
  font-weight: inherit

emphasis-font()
  color: green
  font-weight: bold


.guilabel
  plain-font()
  &:before
    emphasis-font()
    display: inline
    content: "【"
    margin-right: 2px

  &:after
    emphasis-font()
    display: inline
    content: "】"
    margin-left: 2px


.menuselection
  plain-font()
  &:before
    emphasis-font()
    display: inline
    content: "《"
    margin-right: 2px

  &:after
    emphasis-font()
    display: inline
    content: "》"
    margin-left: 2px
