@import "colors"

.guilabel
  font-style: normal
  &:before
    color: green
    display: inline
    content: "【"
    margin-right: 2px

  &:after
    color: green
    display: inline
    content: "】"
    margin-left: 2px


.menuselection
  font-style: normal
  &:before
    color: green
    display: inline
    content: "《"
    margin-right: 2px

  &:after
    color: green
    display: inline
    content: "》"
    margin-left: 2px
