line-bottom(op1=.2, op2=.3)
  border-bottom: 1px solid rgba(0, 0, 0, op1);
  -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -ms-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)
  box-shadow: 0px 1px 0px rgba(255, 255, 255, op2)

border-radius(n)
  -o-border-radius: n
  -ms-border-radius: n
  -moz-border-radius: n
  -webkit-border-radius: n
  border-radius: n

box-shadow(w_offset, h_offset, blur, len, color=rgba(0,0,0,0.3))
  -o-box-shadow: w_offset h_offset blur len color
  -ms-box-shadow: w_offset h_offset blur len color
  -moz-box-shadow: w_offset h_offset blur len color
  -webkit-box-shadow: w_offset h_offset blur len color
  box-shadow: w_offset h_offset blur len color


