@charset "utf-8";
div{margin:0;padding:0}
ul,ol{margin:0;padding:0}
table{border-collapse:collapse;border:none;border-spacing:0}
th,td{vertical-align:middle;border:solid 1px #000;font-weight:normal;text-align:left}
html,body{font-family:"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ ゴシック",sans-serif;color:#002b36;background-color:#fefefe;font-weight:lighter;height:100%}
html{font-size:62.5%}
body{font-size:1.6em;font-size:1.6rem;text-rendering:optimizeLegibility;text-align:justify;text-justify:distribute;-ms-text-justify:distribute}
div{font-size:1.6em;font-size:1.6rem}
div.content{width:100%;height:auto;min-height:100%;position:relative;margin:0 auto}
h1,h2,h3,h4,h5{font-weight:lighter;text-align:left;}
h1 a,h2 a,h3 a,h4 a,h5 a{color:inherit;}
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited{color:inherit}
h3,h4,h5{margin:15px auto 8px auto;color:#0b691e;border-bottom:1px solid rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2);box-shadow:0 1px 0 rgba(255,255,255,0.2)}
h1{margin:25px auto 25px auto;font-size:4.1em;font-size:4.1rem;color:#576970;letter-spacing:-.1em;letter-spacing:-.1rem;font-weight:normal;text-align:left}
h2{margin:25px auto 17px auto;font-size:3.2em;font-size:3.2rem;color:#0b6486;letter-spacing:-.08em;letter-spacing:-.08rem;border-bottom:1px solid rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);box-shadow:0 1px 0 rgba(255,255,255,0.3);line-height:3.9em;line-height:3.9rem}
h3{margin:15px auto 10px auto;font-size:2.8em;font-size:2.8rem;letter-spacing:-.01em;letter-spacing:-.01rem;line-height:3.5em;line-height:3.5rem}
h4{font-size:2.5em;font-size:2.5rem}
h5{font-size:2em;font-size:2rem;color:#0b6486}
.toc-backref{color:inherit}
ul{padding:0;margin:20px auto 0 15px}
ol{padding:0;margin:20px auto 0 15px;}
ol.upperalpha{list-style-type:upper-alpha}
ol.upperroman{list-style-type:upper-roman}
ol.loweralpha{list-style-type:lower-alpha}
ol.lowerroman{list-style-type:lower-roman}
li ul{margin:5px auto 0 15px}
li{word-wrap:break-word;margin:5px auto;}
li p{margin-top:0;}
li p.first{margin-top:.8em;margin-bottom:.2em}
li dl dd{margin:0}
a{color:#009fc7;text-decoration:none;}
a:hover{color:#427daf;text-decoration:underline}
a:visited{color:#be4a94}
em{font-weight:bold}
input[type="text"]{-webkit-box-shadow:0 .15px 1px .4px;box-shadow:0 .15px 1px .4px;border-style:none;max-width:90%;margin:5px auto}
input[type="submit"]{-webkit-border-radius:3;border-radius:3;-webkit-box-shadow:.1px .15px 2px .1px;box-shadow:.1px .15px 2px .1px;display:inline-block;color:#fefefe;padding:6px 10px 2px 10px;background-color:#27b9d4;font-weight:normal;letter-spacing:.09em;border-style:none;text-shadow:1px 1px 0 #6682ca}
input::-webkit-input-placeholder{color:#c4d7da}
input:-moz-placeholder{color:#c4d7da}
input:placeholder{color:#c4d7da}
p.topless{padding:0 auto;margin:0 auto}
header{background-color:#f1f1f1;position:fixed;z-index:10;top:0%;margin:auto;width:100%;height:36px;}
header .right{margin-right:20px}
header .left{margin-left:20px}
header ul{padding:0;margin:auto}
header li{display:inline-block;vertical-align:middle}
.breadcrumb li{display:inline-block;list-style:none}
.pre{font-size:1.5em;font-size:1.5rem;background-color:#fdf6e3}
.section{margin:25px auto}
.documentwrapper{background-color:#fefefe;min-width:320px;width:100%;height:auto;min-height:100%;margin:0 auto}
.document{overflow:hidden;background-color:#fefefe;margin:0 auto;padding-top:60px;padding-bottom:100px;min-width:320px;width:60%}
.sidebarwrapper{float:right;margin:0 auto;width:20%;min-width:270px;height:100%}
.sidebar{margin:180px auto 0 auto;width:85%;font-size:1.3em;font-size:1.3rem;}
.sidebar .relative{margin:60px auto}
.sidebar .topless{width:inherit;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
ul,ol{margin-left:30px}
nav.localtoc ul{margin-left:0}
nav.localtoc li{padding-left:0;list-style:none;}
nav.localtoc li ul{margin-left:15px;}
nav.localtoc li ul li{list-style:square}
.docutils dt{margin-top:18px;font-weight:bold}
.docutils dd{margin-left:30px;-webkit-margin-start:30px;-moz-margin-start:30px;}
.docutils dd p{margin:.4em auto;margin:.4rem auto}
.field th.field-name{vertical-align:top;border-style:none;font-weight:bold}
.field td.field-body{vertical-align:top;border-style:none;-webkit-box-shadow:none;box-shadow:none;padding-left:10px;}
.field td.field-body p{margin:.4em auto;margin:.4rem auto;}
.field td.field-body p.first{margin-top:.2em;margin-top:.2rem}
#searchbox{margin:50px auto}
.body{width:90%;margin:auto}
.headerlink{text-decoration:none;margin-left:10px;color:#32a1bd;font-size:1.5em;font-size:1.5rem;}
.headerlink:visited{color:#32a1bd}
footer{background-color:rgba(245,245,245,0.7);position:absolute;clear:both;bottom:0;width:100%;margin:auto;height:80px;}
footer .show-copyright,footer .last-updated,footer .show-sphinx{display:inline-block;margin:auto;padding-left:15px;line-height:50px}
footer .theme-info{margin:auto;padding:0 35px;line-height:30px}
footer li{display:inline-block;list-style:none}
.left{float:left}
.right{float:right}
.clearer{clear:both}
th,td{border:0 solid rgba(243,243,243,0.15)}
table{margin:20px 0;border:0 solid rgba(243,243,243,0.15);border-right-color:rgba(189,236,255,0.4);border-spacing:1px;-webkit-box-shadow:.1px .15px 0 0;box-shadow:.1px .15px 0 0;}
table caption{text-align:center;font-size:1.7000000000000002em;font-size:1.7000000000000002rem;line-height:36px}
table thead{color:#fff;letter-spacing:.25em;text-shadow:.5px .9px 0 #2d86cc;}
table thead .row-odd{background-color:#52b5ce}
table thead th{-webkit-box-shadow:.1px .15px 0 0;box-shadow:.1px .15px 0 0;border:2px solid rgba(243,243,243,0.2);text-align:center;font-weight:normal;font-size:1.7000000000000002em;font-size:1.7000000000000002rem}
table tr{height:41px}
table td{-webkit-box-shadow:.1px .15px 1px 0;box-shadow:.1px .15px 1px 0;padding:0 5px}
table .row-even{background-color:#f7f7f7}
table .row-odd{background-color:#fefefe}
.contents{border-left:ridge 23px #30cdd5;padding:10px 0}
.contents .topic-title.first{color:#0b6486;font-size:2.5em;font-size:2.5rem;padding-left:1.5em;padding-left:1.5rem;margin-top:.1em;margin-top:.1rem;-webkit-margin-before:.1em;-webkit-margin-before:.1rem}
.admonition{margin:30px auto;padding-bottom:5px;-webkit-box-shadow:.1px .15px 1px .5px;box-shadow:.1px .15px 1px .5px;background-color:#f7f7f7;}
.admonition p,.admonition ul{padding-left:20px;padding-right:20px}
.admonition-title{border-bottom:1px solid rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);box-shadow:0 1px 0 rgba(255,255,255,0.3);padding-left:15px;font-weight:normal;letter-spacing:.09em;font-size:1.7em;font-size:1.7rem;border-style:none;color:#fefefe;text-shadow:1px 1px 0 #989dd6;background-color:#009fc7}
.attention .admonition-title{background-color:#e97f45}
.caution .admonition-title{background-color:#97649e}
.danger .admonition-title{background-color:#db514f}
.error .admonition-title{background-color:#db514f}
.hint .admonition-title{background-color:#97d452}
.important .admonition-title{background-color:#cf5590}
.note .admonition-title{background-color:#009fc7}
.tip .admonition-title{background-color:#2aa198}
.warning .admonition-title{background-color:#db514f}
.guilabel{font-style:normal;font-weight:inherit;}
.guilabel:before{color:#0b691e;font-weight:bold;display:inline;content:"《";margin-right:2px}
.guilabel:after{color:#0b691e;font-weight:bold;display:inline;content:"》";margin-left:2px}
.menuselection{font-style:normal;font-weight:inherit;}
.menuselection:before{color:#0b691e;font-weight:bold;display:inline}
.menuselection:after{color:#0b691e;font-weight:bold;display:inline}
.menu:before{display:inline;font-weight:bold;content:"[";margin-right:2px}
.menu:after{display:inline;font-weight:bold;content:"]";margin-left:2px}
.menu-separator:before{color:#0b691e;display:inline;font-size:2.2rem !important}
.menuselection .menu-separator:last-child:before{display:none;content:""}
.icon-index:before,.icon-next:before,.icon-previous:before{font-size:3.6em !important;font-size:3.6rem !important}
